<footer class="blog-footer"
  style="background-color: #f8f9fa; padding: 2px 0; text-align: center; position: fixed; bottom: 0; left: 0; width: 100%; z-index: 1000;">
  <p style="margin: 0; font-size: 14px; color: #555; padding-bottom: 2px;">
    <span>Django blog built with </span>
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="Python logo"
      style="height: 20px; vertical-align: middle; margin-right: 5px;">
    <span>by <strong>Shah Fahad</strong></span>
  </p>
</footer>
</body>

</html>