{% extends './base/base.html' %}



{% block content %}

<h3 class="category-header text-warning"> Search keyword - {{  keyword }}</h3>


<main role="main" class="container p-0">
    <div class="row">
        <div class="col-md-8 blog-main">
            {% for blog in blogs %}
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <h3><a href="{% url 'blogs' blog.slug %}">{{ blog.title }}</a></h3>
                    <small class="mb-1 text-muted">{{ blog.created_at | timesince }} ago | {{ blog.author}}</small>
                    <p class="card-text">{{ blog.short_description | truncatewords:25 }}</p>
                </div>
            </div>
            {% endfor %}


{% endblock %}